body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

#about,
#services,
#contact {
    padding: 50px 20px;
}

h1,
h2,
h3 {
    color: #fff;
}

.service {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label,
input,
textarea {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-image: url('imagenes/foto.jpg'); 
    background-size: cover;
    color: #fff; 
}


video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    overflow: hidden;
    object-fit: cover; 
}
header {
    background-image: url('imagenes/cielo.jpg');
    background-size: cover;
    background-position: center;
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
}

header .img {
    position: relative;
}

header .img img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

header h1, header p {
    margin: 10px 0;
}

/* Estilo para todas las secciones con texto sobre el video de fondo */
section {
    position: relative;
}

section h2, section p, section label {
    position: relative;
    z-index: 1;
    color: white;
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Ajusta la opacidad según sea necesario */
    z-index: 0;
}
.img-container {
    display: flex;
}

.img {
    flex: 1;
    margin: 0 5px;
}

.img img {
    width: 100%;
    height: auto;
}
.img-container {
    display: flex;
}

.img-container .img {
    flex: 1;
    margin: 0 5px;
}

.img-container .img img {
    width: 100%;
    height: auto;
}
.img img {
    width: 100px; 
    height: auto;
    float: left; 
    margin-right: 10px; 

}


.contact form label {
    font-weight:   bold; /* Cambia el peso de la fuente para hacerla más destacada */
    text-decoration:   underline; /* Subraya el texto */
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
    /* Estilos adicionales según sea necesario */
    border-bottom: 4px solid black; /* Añade un borde inferior */
}
.service h3 {
    color: white; /* Cambia el color del texto a blanco */
    font-size: 24px; /* Cambia el tamaño del texto a tu gusto */

}

